.navbar-default{
    background-color: #40445a;
}    
.navbar a{
    color:#f2f2f2;
}
.navbar a:hover{
    color:#d4f8d8;
}
.custom-dropdown{
    background-color: #40445a;
    color:#f2f2f2;
}
.custom-dropdown:active{
    background-color:#2ed574;
}