<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="">Name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel
                    required
                    [pattern]="'^[A-Za-z]*$'"
                    >
                <span *ngIf="">The Values you entered are invalid.</span>    
                </div>
                <div class="col-sm-2 form-group">
                    <label for="">amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    [pattern]="'^[1-9]+[0-9]*$'"
                    >
                </div>
                <!-- <div class="col-sm-2 form-group">
                    <label for="">Unit</label>
                    <select>
                        <option value="grams">g</option>
                        <option value="grams">ml</option>
                        <option value="grams">cm</option>
                    </select>
                </div> -->
            </div>

            
            <div class="flex row">
                <div class="flex btn-group col-xs-12">
                    <!-- Add -->
                    <button 
                    class="btn btn-success"
                    [disabled]="!f.valid"
                    >{{editMode ? 'Update' :  'Add'}}</button>
                    <!-- Delete -->
                    <button
                    *ngIf="editMode" 
                    class="btn btn-danger"
                    (click)="onDelete()"
                    >Delete</button>
                    <!-- Clear -->
                    <button 
                    class="btn btn-primary"
                    (click)="clearInputFields()"
                    >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>