<!-- recipe DETAILS comp. -->
<div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="recipe-img img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn-primary" role="button">Manage Recipe <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">To Shopping List</a></li>
                        <li><a href="#">Edit Recipe</a></li>
                        <li><a href="#">Delete Recipe</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
    <div class="col-xs-12">Ingridients</div>
</div>